<div class="container">
  <!-- NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img src="assets/images/brand.svg" width="40" height="40" alt="" class="mr-3">
      FavoVideos</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

      </ul>
      <ul class="navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/inicio']" *ngIf="identity">Mis vídeos<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/guardar-favorito']" *ngIf="identity">Guardar favorito<span
              class="sr-only">(current)</span></a>
        </li>

        <!--<li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="dropdownCategories" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Categorías
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownCategories">
            <ul id="">
              <li *ngFor="">
                <a class="dropdown-item">fggdg}</a>
              </li>
            </ul>

          </div>
        </li> -->


        <!--<li class="nav-item" *ngFor="let category of categories">
          <a class="nav-link" >{{ category.name }}</a>
        </li> -->
        <li class="nav-item" *ngIf="!identity">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item" *ngIf="!identity">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
        <li class="nav-item">
          <div class="avatar-mask">
            <img src="" alt="">
          </div>
        </li>
        <li class="nav-item dropdown" *ngIf="identity">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{identity.nick}}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar sesión</a>
          </div>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav> <!-- END NAVBAR -->

  <!-- CONTENIDO -->
  <router-outlet></router-outlet>
  <!-- END CONTENIDO -->
</div>
