<div class="container-fluid mt-3">
  <h1>{{page_title}}</h1>
  <hr>

  <div *ngIf="status == 'success'" class="alert alert-success col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
    Datos actualizados correctamente.
  </div>
  <div *ngIf="status == 'error'" class="alert alert-danger col-md-10 offset-md-1 col-lg-8 offset-lg-2 ">
    No se han podido actualizar tus datos. Vuelve a intentarlo por favor.
  </div>

  <form #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)"
    class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 mb-3">

    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" #name="ngModel" [(ngModel)]="user.name" required class="form-control" name="name"
        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
      <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
        El nombre no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="surname">Apellidos</label>
      <input type="text" #surname="ngModel" [(ngModel)]="user.surname" required class="form-control" name="surname"
        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
      <small *ngIf="!surname.valid && surname.touched" class="invalid-feedback d-block">
        Los apellidos no son válidos
      </small>
    </div>

    <div class="form-group">
      <label for="nick">Nick</label>
      <input type="text" #nick="ngModel" [(ngModel)]="user.nick" required class="form-control" name="nick"
        pattern="^[a-zA-ZÀ-ÿ\u00f1\u00d1]+(\s*[a-zA-ZÀ-ÿ\u00f1\u00d1]*)*[a-zA-ZÀ-ÿ\u00f1\u00d1]+$">
      <small *ngIf="!nick.valid && nick.touched" class="invalid-feedback d-block">
        El nick no es válido
      </small>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" #email="ngModel" [(ngModel)]="user.email" required class="form-control" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El email no es válido
      </small>
    </div>

    <!--<div class="form-group">
      <label for="password">Contraseña</label>
      <input type="text" #password="ngModel" [(ngModel)]="user.password" required class="form-control" name="password">
      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        La contraseña no pude estar vacía
      </small>
    </div>-->

    <input type="submit" class="btn btn-primary" value="Guardar" [disabled]="userEditForm.invalid" />

  </form>
</div>
